{
    "parser": "@typescript-eslint/parser",
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module",
        "allowImportExportEverywhere": true,
        "project": "./tsconfig.json"
    },
    "extends": [
        "prettier",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended"
    ],
    "plugins": ["@typescript-eslint", "prettier"],
    "rules": {
        "no-extra-semi": 0,
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/consistent-type-definitions": ["error", "type"]
    }
}
