# Build output
dist/

# Dependencies
node_modules/
bun.lockb

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Environment variables
.env
.env.local

# Firebase
.firebase/
firebase-debug.log*

# Development
playground-*.js

.bitcoin
