# Source
src/
tests/
public/

# Config files
.prettierrc.json
.prettierignore
.eslintrc
.eslintignore
.parcelrc
.nvmrc
.cursorrules
biome.json
jest.config.ts
tsconfig.json
vite.config.mts

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Firebase
firebase.json
.firebaserc
.firebase/
functions/

# Development
playground-*.js
*.test.ts
*.test.js

# Logs
*.log
npm-debug.log*

# Build artifacts
*.map
